$avatarSize: 80px;

.profile {
    display: flex;
    flex-direction: column;
    gap: var(--gap);

    .profileCard {
        border-radius: var(--rounded);
        overflow: hidden;
        position: relative;

        .cover {
            height: 200px;
            background-color: var(--secondary-bg-color);
        }

        .avatar {
            border-radius: var(--rounded);
            height: $avatarSize;
            width: $avatarSize;
            background-color: red;
            position: absolute;
            left: calc($avatarSize / 2);
            top: calc(50% - $avatarSize / 2);
        }

        .content {
            height: 200px;
            padding: calc($avatarSize / 2 + 10px) calc($avatarSize / 2) 20px;
            background-color: var(--primary-bg-color);
        }
    }

    .postsList {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
    }
}
