[data-theme='dark'] {
    --bg-color: #161617;
    --font-color: #ffffff;
    --font-color-secondary: #969da0;
    --font-color-active: #0b5dd7;

    --primary-bg-color: #1f1f1f;
    --secondary-bg-color: #353436;
}
