.header {
    background-color: var(--primary-bg-color);

    .headerWrapper {
        width: 1000px;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .nav {
            flex: 1;
        }

        .nav,
        .thmeSwitcher {
            display: flex;
            align-items: center;
            justify-content: center;

            gap: 12px;
        }
    }
}
